<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
</head>
<body>
<h1>Login page</h1>
<form th:action="@{/login}" method="post">
    <div th:if="${param.error}">
        Invalid email or password.
    </div>
    <label for="username">Email</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" /> <br />
    <input type="submit" value="Log in" />
    <input type="button" value="Reset Password" th:if="${param.error}" />
</form>
</body>
</html>